/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Serif Pro', serif;*/

:root {
  --primary-color: rgb(72, 49, 212);
  --secondary-color: rgb(204, 243, 129);
  --therd-color: rgba(187, 211, 246, 0.997);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

html,
body {
  overflow-x: hidden;
}
body {
  background-color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
}

h1 {
    color: var(--primary-color);
  font-family: "Playfair Display", serif;
  font-weight: bold;
  line-height: 56px;
  font-size: 68px;
  margin: 30px 0;
  text-shadow: 1px 1px 1px var(--therd-color);
}

h2 {
  font-family: "Poppins", sans-serif;
  line-height: 56px;
  font-size: 50px;
  color: var(--therd-color);
  text-shadow: 1px 1px 1px var(--primary-color);
}

h3{
  font-family: "Playfair Display", serif;  
   font-size: 30px;
  line-height: 56px;
}


.my-photo {
  border-radius: 50px;

}


.hightlight {
  line-height: 56px;
}
.page-wrapper {
  display: grid;
  padding: 0;
  margin-left: 7%;
  grid-template-columns: 1fr 1fr;
}

.icons{
    font-size: 30px;
}
.left {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding-bottom: 50px;
}
.right {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  justify-self: center;
  padding-bottom: 50px;
}
.text {
  padding:  150px 200px;
}
.navigation-link {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.navigation-link a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.projects-link {
  background: var(--therd-color);
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  border: 2.5px solid var(--primary-color);
}

.contact-link {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  border: 2.5px solid var(--therd-color);
  
}

.main {
  position: relative;
}
.start {
    
  color: var(--primary-color);
  max-width: 7%;
  margin-top: 50px;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  line-height: 130px;
}
.navbar {
  background-color: var(--secondary-color) !important;
}

.section {
  background-color: var(--therd-color);
  color: var(--primary-color);
  border: 2.5px solid var(--primary-color);
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  box-shadow: var(--box-shadow);
}

.context{
    text-align: left;
}
@media (min-width: 600px) {
  .start {
    writing-mode: vertical-rl;
  }
  li {
    padding-bottom: 120px;
  }

  .nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  li {
    padding-left: 5px;
  }
}
@media (max-width: 1200px) {
  .start {
    line-height: 70px;
  }
  li {
    padding-left: 5px;
  }
}
@media (max-width: 650px) {
  body {
    overflow: hidden;
  }

  h2 {
    font-size: 30px;
    line-height: 40px;
  }
  h1 {
    font-size: 50px;
  }

  .left {
    text-align: center;
    padding: 0;
  }
  .text {
    padding: 50px 50px 0 50px;
  }
  .navigation-link,
  .projects-link {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .start {
    line-height: 20px;
    font-size: 18px;
    margin-top: 10px;
  }
  li {
    padding: 0;
  }
}
